<!DOCTYPE html>
<html>
	<head>
		<title>ARecord an answer to a test question for an individual</title>
	</head>
<body>
<h1>Answer to a question</h1>

<form action="/api/test/registeranswer" method="POST">
<pre>
	Enter your Email : <input type="text" name="email"> <br>
	Enter the testid	 : <input type="number" name="testid"> <br>
	Enter the questionid : <input type="number" name="questionid"> <br>
	Enter the selections : <input type="text" name="answers"> <br>
	<input type="submit" value="Submit Form">
</pre>
</form>

</body>
</html>