<!DOCTYPE html>
<html>
	<head>
		<title>User Login</title>
	</head>
<body>
<h1>User Login Form</h1>

<form action="/api/login" method="POST">
<pre>
	Enter your Email : <input type="text" name="email"> <br>
	Enter your Password : <input type="password" name="passcode"> <br>
	<input type="submit" value="Submit Form">
</pre>
</form>

</body>
</html>