<!DOCTYPE html>
<html>
	<head>
		<title>Register for a Test Session</title>
	</head>
<body>
<h1>Test Selection</h1>

<form action="/api/test/register" method="POST">
<pre>
	Enter your Email : <input type="text" name="email"> <br>
	Type in the test name to attempt: <input type="text" name="testname"> <br>
	<input type="submit" value="Submit Form">
</pre>
</form>

</body>
</html>